.paypal-button-container {
  position: relative;
  z-index: 1; /* Ajusta este valor si es necesario */
}
.contRep {
  margin-left: 110px;
}

.error-message {
  margin-top: 3.6px !important;
  color: red !important;
}


.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
